<div class="container">
    <h2>Session info</h2>
        <div class="row">
            <div class="col-sm-3 bg-info">
                <span class="font-weight-bold">Session No.</span>
            </div>
            <div class="col-sm-3 bg-info">
                <span class="font-weight-bold">{{session.session_id}}</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3 bg-info">
                <span class="font-weight-bold">Session name</span>
            </div>
            <div class="col-sm-3 bg-info">
                <span class="font-weight-bold">{{session.session_name}}</span>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3 bg-info">
                <span class="font-weight-bold">Session name</span>
            </div>
            <div class="col-sm-3 bg-info">
                <span class="font-weight-bold">{{session.session_name}}</span>
            </div>
        </div>
        <!--<div class="row bg-info">
             <div class="col">
                <span class="font-weight-bold">Session No.</span>
            </div>
            <div class="col">
                <span class="font-weight-bold">Session name</span>
            </div>
            <div class="col">
                <span class="font-weight-bold">Version</span>
            </div>

        </div>
        <!--<div class="row border">
            <div class="col">
                <span class="font-weight-bold">{{session.session_id}}</span>
            </div>
            <div class="col">
                <span class="font-weight-bold">{{session.session_name}}</span>
            </div>
            <div class="col">
                <span class="font-weight-bold">{{session.scen_version}}</span>
            </div>
        </div>
        <div class="row" >
            <div class="col-2 bg-secondary text-white">
                <span class="font-weight-bold">Begin time</span>
            </div>
            <div class="col-4 bg-secondary text-white">
                {{session.sess_beg}}
            </div>
            <div class="col-1 bg-warning">
                <span class="font-weight-bold">Agent</span>
            </div>
            <div class="col-5 bg-warning">
                {{session.agent_name}}
            </div>
        </div>

        <div class="row">
            <div class="col-2 bg-secondary text-white">
                <span class="font-weight-bold">End time</span>
            </div>
            <div class="col-4 bg-secondary text-white">
                {{session.sess_end}}
            </div>
            <div class="col-1 bg-warning">
                <span class="font-weight-bold">Context</span>
            </div>
            <div class="col-5 bg-warning">
                {{session.context_code}}
            </div>

        </div>
         <div class="row">
            <div class="col-2 bg-secondary text-white">
                <span class="font-weight-bold">Duration</span>
            </div>
            <div class="col-4 bg-secondary text-white">
                {{ session.sess_dur }}
            </div>
             <div class="col-6 bg-secondary bg-warning">

            </div>
        </div>
        {% if session.status == 'danger'%}
        <div class="row bg-danger text-white">
            <div class="col-2">
                <span class="font-weight-bold">Error message</span>
            </div>
            <div class="col-sm">
                {{session.sess_mess}}
            </div>
        </div>
        {% endif %}
        -->
</div>
